{% load home_tags cache compress static wagtailuserbar i18n %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta content="width=960, initial-scale=1.0; " name="viewport">
    <title>{% block title %}{{ self.title }}{% endblock %}{% block title_postfix %} | Aspargesgården {% endblock %}</title>

    <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" /> {% compress css %} {# Custom stylesheets #}
    <link rel="stylesheet" href='{% static "home/style/reset.css" %}' />
    <link rel="stylesheet" href='{% static "home/style/main.css" %}' /> {% endcompress %} {% block extra_css %}{% endblock %}
    <script>
            !function(k,r,a,d,l,b,y){k.GoogleAnalyticsObject=a;k[a]||(k[a]=function(){
(k[a].q=k[a].q||[]).push(arguments)});k[a].l=+new Date;b=r.createElement(d);
y=r.getElementsByTagName(d)[0];b.src=l;y.parentNode.insertBefore(b,y)}
(window,document,'ga','script','//www.google-analytics.com/analytics.js');

ga('create', 'UA-18856525-21', 'auto');
ga('send', 'pageview');

    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

</head>

<body class="{% block body_class %}{% endblock %}"> {% wagtailuserbar %}

    <header>
        <div id='logo'>
            <img src='{% static "home/img/logo3.png" %}'>
        </div>
        <nav>
            {% block menu %} {% get_site_root as site_root %} {% top_menu parent=site_root calling_page=self %} {% endblock %}
        </nav>
    </header>


    <main>

        {% block content %}{% endblock %}

    </main>

    <footer>
        <div id='contact'>
            <h1>Kontakt oss</h1>
            <div id='direct'>
                <p>Kristine Dalby</p>
                <p>kristine@klatrerosen.no</p>
                <p>+47 90 91 98 12</p>
            </div>
            <div id='address'>
                <p>Østbyveien 75</p>
                <p>3280 Tjodalyng</p>
            </div>
        </div>
        <div id='map'>
            <iframe width="338" height="278" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=17&center=59.0471%2C10.1247&key=AIzaSyBgipyd2LW8F7rcqDnAiGg3-5HZ3srPhu0"
                allowfullscreen></iframe>
        </div>

        <div id='copyright'>
            &copy; 2014<script>new Date().getFullYear()>2014&&document.write("-"+new Date().getFullYear());</script>, Aspargesgården.
        </div>

    </footer>

    {# External javascript #}
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> {% compress js %} {# Custom javascript#}
    {% endcompress %} {% block extra_js %}{% endblock %}

</body>

</html>