/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Parisienne|Allura|Pinyon+Script|Italianno');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Pygments */
/* Fonts */
/* Colors */
/* Functions */
/* Helpers */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
@media screen and (min-width: 800px) {
  .text-right {
    text-align: right;
  }
}
.center {
  margin: 0 auto;
}
.right {
  float: right;
}
.left {
  float: left;
}
.row-space {
  margin-top: 15px;
  margin-bottom: 15px;
}
.padding {
  padding: 15px;
}
.padding-vertical {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding-horizontal {
  padding-left: 15px;
  padding-right: 15px;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
.inlineblock {
  display: inline-block;
}
/* Grid */
.container {
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1024px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1279px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 799px) {
  .container {
    width: 100%;
  }
}
.row {
  display: block;
  width: 100%;
  clear: both;
  overflow: auto;
  box-sizing: border-box;
}
.row:before {
  clear: both;
}
.col1 {
  width: 8.3333333%;
}
.col2 {
  width: 16.666667%;
}
.col3 {
  width: 25.000000%;
}
.col4 {
  width: 33.333333%;
}
.col5 {
  width: 41.666667%;
}
.col6 {
  width: 50.000000%;
}
.col7 {
  width: 58.333333%;
}
.col8 {
  width: 66.666667%;
}
.col9 {
  width: 75.000000%;
}
.col10 {
  width: 83.33333%;
}
.col11 {
  width: 91.66667%;
}
.col12 {
  width: 100.0000%;
}
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
  display: block;
  float: left;
  box-sizing: border-box;
  overflow: auto;
}
@media screen and (max-width: 799px) {
  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12 {
    clear: both;
    width: 100%;
  }
}
/* Generics */
html {
  box-sizing: border-box;
  background: url(/static/img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 14px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.container {
  margin: 0 auto;
  width: 978px;
  height: 100%;
  font-size: 0px;
}
#left {
  overflow: auto;
  display: inline-block;
  width: 320px;
  min-height: 1460px;
  background: white;
  vertical-align: top;
}
#right {
  overflow: auto;
  display: inline-block;
  width: 654px;
  margin: 0 0 0 0;
  padding: 15px 15px 15px 15px;
  min-height: 700px;
  background: white;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  vertical-align: top;
  font-size: 16px;
}
.div-right {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
.div-left {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
.logo {
  padding: 4px 0 10px 0;
}
h1 {
  font-family: 'Italianno', cursive;
  font-size: 50px;
}
h3 {
  font-weight: bold;
  font-size: 23px;
}
h4 {
  font-size: 17px;
}
p {
  padding-top: 15px;
  line-height: 23px;
}
nav ul {
  padding: 0 0 0 60px;
}
nav ul li {
  font-family: 'Italianno', cursive;
  font-size: 50px;
  padding: 0 0 0 0;
  margin: 10px 0 0 0;
}
nav ul li a {
  color: black;
  text-decoration: none;
}
#preview {
  width: 100%;
}
.thumb {
  width: 155px;
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
  padding-top: 3px;
}
iframe {
  padding-top: 65px;
}
/* Elements */
