{% extends 'base.html' %}

{% block content-right %}
Velkommen til oss!
Gården ligger i idylliske omgivelser i Tjølling, ned mot Viksfjord. Her leier vi ut lekre selskapslokaler med mange fasiliteter.
Perfekt til Bryllup, Jubileum, konfirmasjoner, barnedåp, Julebord ol, eller møter og konferanser av ulik art. Kontakt oss for tilbud.
I ”fjøset” kan man dekke til 68 personer. Det finnes både musikkanlegg (Sonos) og flere TV-skjermer, slik at man kan plugge inn sin egen PC eller mobil, for musikk, filmer eller Lysbildeshow. I tilknytning er det salonger med bar, scene etc. Fremkommelighet for alle.
Stort kjøkken med alt utstyr en kokk kan ønske seg. Vi kan formidler kontakt til profesjonelle kokker og catering. Det kan lages mat på stedet i flott storkjøkken med alle fasiliteter.
Oppe på låven er det litt ”røffere” stil. Benker og bord til ca 120 personer. Her er det også Bar og scene.
Det er rikelig med parkering.
{% endblock content-right %}
